{% extends 'main/bootstrap.html' %}

{% block content %}
{% if lang == 'RU' %}
<a class="btn btn-primary btn-bg" href="{% url 'images' 'EN' %}">EN</a>
{% else %}
<a class="btn btn-primary btn-bg" href="{% url 'images' 'RU' %}">RU</a>
{% endif %}
<div class="d-flex justify-content-start">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col-4">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    {% load static %}
                    <img src="{% static 'images/ProtoPhoto.jpg' %}" alt="My Image" style="width:100%;">
                    {% if lang == 'RU' %}
                    <strong>Мои контакты</strong>
                    {% else %}
                    <strong>My contacts</strong>
                    {% endif %}
                    <ul class="list-unstyled">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                            </svg>
                            <a href="https://t.me/captain_gaga">Telegram</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                            </svg>
                            <a href="https://mail.google.com/mail/u/0/?fs=1&to=someone@example.com&su=SUBJECT&body=BODY#inbox?compose=GTvVlcSHxwCmkMLMMCxRzsxDZRvMPmQtlzkRCrvKFCLqgcPtXqTPFtZlQQxFpLwtKNvMlWPLSbrXz">Send Gmail</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/CAPGAGA">GitHub</a>
                        </li>
                    </ul>
                    {% if lang == 'RU' %}
                    <strong>Ключевые навыки</strong>
                    <ul>
                        <li>Аналитическое мышление</li>
                        <li>Стрессоустойчивость</li>
                        <li>Поиск информации в интеренете</li>
                        <li>Умение работать в команде</li>
                        <li>Самостоятельность</li>
                    </ul>
                    {% else %}
                    <strong>Key skills</strong>
                    <ul>
                        <li>Analytical thinking</li>
                        <li>Stress resistance</li>
                        <li>Searching for information on the Internet</li>
                        <li>Teamwork skills</li>
                        <li>Self-sufficienc</li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% if lang == 'RU' %}
                <div class="col-8">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Здравствуйте!</h5>
                            <p class="card-text">Меня зовут Михаил, я начинающий python программист с небольшим опытом коммерческой разработки</p>
                            <p class="card-text">В данный момент я работаю аналитиком-разработчиком в E-commerce компании. В мои обязанности входит
                            разработка аналитических инструментов для Non-IT специалистов, с функциями автоматического выявления эксплуатации уязвимостей
                            маркетплей и расследования данных случаев.</p>
                            <p>Сейчас в одиночку поддерживаю собственный большой проект</p>
                            Мой стек:
                            <ul class="list-unstyled">
                                <li>Back-End</li>
                                <ul>
                                    <li>Django + gunicorn + nginx</li>
                                    <li>SQLAlchemy</li>
                                    <li>Selenium + requests</li>
                                    <li>PostgreSQL + SQLite3</li>
                                </ul>
                                <li>Front-End</li>
                                <ul>
                                    <li>JavaScript + jQuery</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Bootstrap</li>
                                </ul>
                                <li>Machine Learning</li>
                                <ul>
                                    <li>sklearn</li>
                                    <li>pandas + matplotlib + seaborn</li>
                                </ul>
                            </ul>
                            <p>Так же знаком с Docker и Kubernetes, активно пользуюсь Git, умею самостоятельно деплоить свои приложения</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-8">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Greetings!</h5>
                        <p class="card-text">My name is Michail, I'm a junior python programmer with little commercial development experience</p>
                        <p class="card-text">As of now I'm working as analytical developer in E-commerce company. My main task is development of
                        analytical tools for Non-IT specialist with automatical detection of usage of marketplace exploits and fraud and investigation
                        of this cases</p>
                        <p>Right now I single handedly maintain my own project</p>
                        My stack:
                        <ul class="list-unstyled">
                            <li>Back-End</li>
                            <ul>
                                <li>Django + gunicorn + nginx</li>
                                <li>SQLAlchemy</li>
                                <li>Selenium + requests</li>
                                <li>PostgreSQL + SQLite3</li>
                            </ul>
                            <li>Front-End</li>
                            <ul>
                                <li>JavaScript + jQuery</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <li>Machine Learning</li>
                            <ul>
                                <li>sklearn</li>
                                <li>pandas + matplotlib + seaborn</li>
                            </ul>
                        </ul>
                        <p>I'm familiar with Docker and Kubernetes, actively use Git and can deploy applications by myself</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/cert1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/cert2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
        </div>
</div>
{% endblock %}
